In [1]:
import pandas
import numpy
import pyodbc

In [2]:
data = pandas.read_csv('C:\\Users\\jlfen\\OneDrive\\Documentos\\JoaoKasten\\005_applied_projects\\Trabalho\\Processos-Seletivos\\HSL_Teste\\HSL-Processo-Seletivo\\data\\BASE _OBJETIVOS.csv', sep=';')
df = pandas.DataFrame(data)
print(df)

     EAN             EQUIPE             VENDEDOR    JAN   FEV   MAR   ABR   \
0     2411876356324  Hospitalar         Catarina      58    76    55     1
1     2411876356324  Hospitalar         Micaela      218    16    87    98
2     2411876356324  Hospitalar         Emanuel       78    87    20    40
3     2411876356324  Hospitalar         André         98   113   128    31
4     2411876356324  Hospitalar         Tiago        173    21    96    28
..              ...                ...         ...   ...   ...   ...   ...
295   7387011391563  Visitação Médica   Júlia         86    83    82   173
296   7387011391563  Visitação Médica   Leticia       89    64    23    37
297   7387011391563  Visitação Médica   Calebe       146   123   163   114
298   7387011391563  Visitação Médica   Igor         202    16    96    46
299   7387011391563  Visitação Médica   Ângelo       109    27    57    22

     MAI   JUN   JUL   AGO   SET   OUT   NOV   DEZ
0       7     9   144    37    95    42   145  122
1     203    76    34    15    75    75    39   43
2      66   172   131    30    31    88   184   21
3     131    23   126    76   107    56     0  128
4     118   104   129    83   112     6    10  108
..    ...   ...   ...   ...   ...   ...   ...  ...
295   122   112    59    51   143   168    54  141
296    25   196    66    33   115    44   175  106
297    60   131   108   141    85    20   147  206
298   186   137   142    64    59     3    35  139
299    16   187   158    79    23    91    51   50

[300 rows x 15 columns]